body {
  background-image: url("./images/636909.jpg");
  background-position: center;
  background-size: 100% 100%; 
  background-image: url("./images/636909.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-card {
  margin: 1px;
}

.my-card-img {
  border-radius: 15px;
  width: 250px;
  height: 380px;
  box-shadow: 0px 0px 03px 1px #ccc;
  object-fit: cover;
}

.my-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.my-card-title {
  font-size: 24px;
  margin: 0px;
}

.my-card-subtitle {
  font-size: 16px;
  margin: 0px;
}